<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
    <form action = "{{ url_for('submit_student') }}" method = "POST">
        <h3>Add Student Info</h3>
        First name:
        <input type = "text" name = "first" /> <br>
        Last name:
        <input type = "text" name = "last" />
        <br>
        ID Number:
        <input type = "integer" name = "id" />
        <br>
        <input type = "submit" value="Submit" />
    </form>
    
    
    <br>

    <h3>{{ msg }}</h3>
</body>
</html>